body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("img/landing-page.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Caixa escura leve para dar contraste ao texto */
.overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;      
}

.container {
    max-width: 450px; 
    margin-left: 50px;        
    text-align: left;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-top: 10px;
}

.texto {
    font-size: 1.1rem;
    margin: 25px 0;
}
.botao {
    background: #e60000;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
